@font-face {
font-family: "Roboto";
src: url(fonts/Roboto-light.ttf);
}

* {
    transition-duration: 1200ms;
    margin: 0px;
    padding: 0px;
    font-family: Roboto
}

input[type="radio"] {
    margin-left: 10%;
    bottom: 100px;
    width: 20%;
    height: 30em;
   


}

.PartySymbols{
    width:50%;
   
}

h2 {
    text-align: left;
    font-size:4vh;
}

body {
    background: #607d8b;
}

.VoteValue {
    display: none;
    color: red;
    font-size: 5em;
}

.VoteButton:active {
    background: cadetblue;
    transform: translateY(3px);
}

.VoteButton {
    height: 20vh;
    width: 20%;
    font-size: 4em;
    color: #021272;
    border: none;
    border-radius: 20px;
    margin-bottom: 30px;




}

#BtnCongress {
    background: black
}

#BtnCongress:active {
    background: white;
}

#BtnCPM {
    background: black
}

#BtnCPM:active {
    background: white;
}


#BtnBJP {
    background-color:white;
    background: black
}

#BtnBJP:active {
    background: white;
}

/* results bar */

#Results {
    width: 100%;
    color: white;
    font-size: 8vh;
    text-align: right;
    display: none;
  



}

#CongressBar {
    width: 0%;
    height: 20vh;
    background-image: linear-gradient(to left, #0091ea, #0091fa);;
    margin-bottom: 30px;
}

#CPMBar {
    width: 0%;
    height: 20vh;
    background-image: linear-gradient(to right, #d50000, #d80000);
    margin-bottom: 30px;
}

#BJPBar {

    width: 0%;
    height: 20vh;
    background-image: linear-gradient(to right, #dd2000, #ff2000);
    margin-bottom: 30px;
}

#SubmitVoteBtn {
    
    font-size: 6vh;
}


