@font-face {
    font-family: "Roboto";
    src: url(fonts/Roboto-light.ttf);
}

* {
    transition-duration: 1200ms;
    margin: 0px;
    padding: 0px;
    font-family: Roboto
}

input[type="radio"] {
    margin-left: 15%;
    bottom: 100px;
    width: 10%;
    height: 25em;
}




.PartySymbols {
    padding-left: 15vw;
    padding-top: 3vh;
    width: 30%;
    border: none;
    margin: 10px;

}

h2 {
    text-align: left;
    font-size: 4vh;

}

body {

    padding-top: 2vh;
    /*background: #607d8b;*/
    background-image: linear-gradient(to bottom right, #607d8b, #197d8b);
    height: 100vh;

}

.VoteValue {
    display: none;
    color: red;
    font-size: 5em;
}




/* results bar */

#Results {
    width: 100%;
    color: white;
    font-size: 8vh;
    text-align: right;
    display: none;

}

#CongressBar {
    width: 0%;
    height: 20vh;
    background-image: linear-gradient(to left, #0091ea, #0091fa);
    margin-bottom: 30px;
}

#CPMBar {
    width: 0%;
    height: 20vh;
    background-image: linear-gradient(to right, #d50000, #d80000);
    margin-bottom: 30px;
}

#BJPBar {

    width: 0%;
    height: 20vh;
    background-image: linear-gradient(to right, #dd2000, #ff2000);
    margin-bottom: 150px;
}

#SubmitVoteBtn {
    margin-top: 5vh;
    font-size: 6vh;
    border-radius: 10%;
    padding: 1.3vh;
    box-shadow: 0 10px #555;
}

#SubmitVoteBtn:active {

    font-size: 6vh;
    border-radius: 10%;
    padding: 2vh;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#textbox {
    margin-left: 5px;
    margin-right: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}


.alignleft {
    bottom: 0;
    float: left;
    font-size: 1.5vh;
}

.alignright {
    padding-right:1vw;
    bottom: 0;
    float: right;
    font-size: 2vh;
}

